# Vayyl Vault v1 — Stellar Mainnet demo
NEXT_PUBLIC_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
NEXT_PUBLIC_RPC_URL=https://stellar.api.onfinality.io/public
NEXT_PUBLIC_INDEXER_URL=https://vault-indexer-production.up.railway.app

NEXT_PUBLIC_POOL_XLM=CB2NWPFWW5YLD6UYWR4RFERECSMBF6SB62P7RRP2LF2P2EMDSDLAZ3OW
NEXT_PUBLIC_VERIFIER=CATKJ2WBLQXGNVMGZ6E4JEZVTRMVJO2SKA3H7VH53TVD2HJPSBQ46MRD
NEXT_PUBLIC_TOKEN_XLM=CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA
NEXT_PUBLIC_ASP_MEMBERSHIP=CBJWADSNYX52I6GEASN5P7MS6NWQ4O5WWQJOPTNSKCRHYTK2BYET6YB3
NEXT_PUBLIC_ASP_NON_MEMBERSHIP=CBJSFSZOEOEBSBTUZPTFZNAMP37PU7GKVFRERYSBTMYY7KPG6QKMAAQE
