# RPC endpoint for Soroban Testnet/Futurenet
RPC_URL="https://soroban-testnet.stellar.org"

# Oracle Contract ID (Vayyl MockOracle on testnet)
ORACLE_CONTRACT="CCOMO6TGGWTBK463TXZPMG5IO26WUN6W4D4NO7TP4QKL7RTL5OUVSHCE"

# Port for the API server
PORT=3003
